<!DOCTYPE html>
<html lang ="en">
<head>
    <meta charset="UTF-8">
    <title>Booking Details</title>
    <h1>Booking Details listed below : </h1>
    <h5>(assuming I already have the starting and ending locations)</h5>
</head>
<body>
    <table border="1">
        <tr>
            <th>Booking status</th>
            <th>Driver Name</th>
            <th>Driver Phone Number</th>
            <th>Vehicle</th>
            <th>Pickup Address</th>
            <th>Destination Address</th>
            <th>ETA</th>
        </tr>
            <tr>
                <td>{{ booking_details.status }}</td>
                <td>{{ booking_details.driver.name }}</td>
                <td>{{ booking_details.driver.phone_number }}</td>
                <td>{{ booking_details.vehicle.make }} {{ booking_details.vehicle.model}}</td>
                <td>{{ booking_details.pickup.address }}</td>
                <td>{{ booking_details.destination.address }}</td>
                <td>{{ booking_details.destination.eta }}</td>
            </tr>
    </table>
    <form action="/booking/receipt/{{booking_details.request_id}}" method="GET">
        <button type="submit">Get receipt</button>
    </form>
</body>
</html>