<!DOCTYPE html>
<html lang ="en">
<head>
    <meta charset="UTF-8">
    <title>Products available</title>
    <h1>Products available at your location : </h1>
</head>
<body>
    {% if products|length < 1 %}
    <h4 style="text-align: center">There are no Cars available</h4>
    {% else %}
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Capacity</th>
            <th>More Details</th>
        </tr>
        {% for product in products %}
            <tr>
                <td>{{ product.display_name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.capacity }}</td>
                <td>
                    <form action="/booking/estimates/{{product.product_id}}" method="POST">
                        <button type="submit">Get estimates</button>
                    </form>
                    <a href="/products/details/{{product.product_id}}">Get all details as JSON</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
</body>
</html>